---
import "../styles/global.css";
import {ui } from "../i18n/ui";

interface Props {
  title: string;
  lang:  keyof typeof ui
  description?: string;
}

const {
  title,
  lang,
  description = "Monitor your CPU, GPU, and memory with HardwareVisualizer — lightweight, open-source, and efficient.",
} = Astro.props;
---



<!DOCTYPE html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Social Media -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/app-icon.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/app-icon.png" />
  </head>
  <body class="dark:bg-slate-900 transition-colors duration-300">
    <slot />
  </body>
</html>
<style>
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
</style>
